body{
	background-color:antiquewhite;
	
	margin:0;
	padding:0;
}
.container {
	padding-left: 20%;
	padding-right: 20%;
	
}
.background {
	background-image: url(Logo/Background4.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}